@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-900 bg-white;
  }

  html.dark {
    @apply text-gray-100 bg-gray-900;
  }

  body {
    @apply antialiased;
  }
}
